name: Run Dependabot CLI
on:
  workflow_dispatch:
  push:

jobs:
  run-dependabot:
    permissions:
      # Important not to give Dependabot write access in case it runs arbitrary
      # code as some ecosystems do.
      contents: read
    runs-on: ubuntu-latest
    steps:
      - name: Checkout GitHub repo
        uses: actions/checkout@v6

#      - name: Prepare environment for nuget updates
#        uses: actions/setup-dotnet@v5
#        with:
#            dotnet-version: '10.0.x'

      - name: Download Dependabot CLI
        env:
          # To use GitHub CLI in a GitHub Actions workflow, set the GH_TOKEN environment variable.
          GH_TOKEN: ${{ github.token }}
        run: |
          gh release download --repo dependabot/cli -p "*linux-amd64.tar.gz"
          tar xzvf *.tar.gz >/dev/null 2>&1
          ./dependabot --version
          # permissions for shell files
          chmod +x ./update.sh
          chmod +x ./create.sh

      - env:
          GH_TOKEN: ${{ github.token }}
          GITLAB_TOKEN: ${{ secrets.GITLAB_TOKEN }}
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
        #run: ./update.sh jobs/maven.gitlab.com.yml gitlab.com "" javiertuya javiertuya/dashgit-test / main java 810786
        #run: ./update.sh jobs/nuget.gitlab.com.yml gitlab.com "" javiertuya javiertuya/dashgit-test / main .NET 0
        run: ./update.sh jobs/docker.gitlab.com.yml gitlab.com "" javiertuya javiertuya/dashgit-test /dockerfiles main docker 810786

#      - name: Run Dependabot
#        env:
        #  # GITHUB_TOKEN shows an example of how Dependabot CLI can be used with secrets.
        #  GITHUB_TOKEN: ${{ secrets.GITLAB_TOKEN }}
        # Que token tengo que poner si es repo privado de gitlab?
#          GITLAB_TOKEN: ${{ secrets.GITLAB_TOKEN }}
#        run: |
#          ./dependabot update -f jobs/maven.gitlab.com.yml --timeout 20m >> result.json || true

#      - name: Create PRs
#        env:
#          GITLAB_TOKEN: ${{ secrets.GITLAB_TOKEN }}
          # To use GitHub CLI in a GitHub Actions workflow, set the GH_TOKEN environment variable.
#          GH_TOKEN: ${{ github.token }}
#        run: bash create.sh result.json
